.v-select__slot {
    .v-label {
        position: relative !important;

        &.v-label--active {
            position: absolute !important;
        }
    }
    .v-select__selections input[type="text"]:focus {
        --tw-ring-color: unset;
        border-color: unset;
    }
}
