@import 'reset/table';
@import 'reset/v-select';
@import 'reset/v-text-field';
@import 'reset/vue-transition';

body {
    font-family: Arial;
    font-size: 11.5pt;
    color: black;

    p {
        font-family: SansSerif;
        font-size: 1.25rem;
    }
}
