@import 'reset/table';
@import 'reset/v-select';
@import 'reset/v-text-field';
@import 'reset/vue-transition';

body {
    font-family: Arial;
    font-size: 11.5pt;
    color: black;

    p {
        font-family: SansSerif;
        font-size: 1.25rem;
    }

    h1 {
        font-size: 2em;
        font-weight: bold;
    }

    h2 {
        font-size: 1.5em;
        font-weight: bold;
    }

    h3 {
        font-size: 1.25em;
        font-weight: bold;
    }

    h1, h2, h3 {
        &.card-title {
            color: #2E7D32;
        }
    }
}
